<div  class= "col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form name="logInform" novalidate>
                    <!--Login Name input area -->
                    <!--The message variable states log-in failure -->
                    <br><br><p class="redColor">{{message}}</p>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                        <label for="inputLogInName">Player Name</label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <input name="inputlogInName" type="text" ng-model="userName" size="10" required>
                        <!--input field validation. Checking for if valid and if field been clicked on and left empty-->
                        <span ng-show="logInform.inputlogInName.$invalid && !logInform.inputlogInName.$pristine">Required!</span>                  
                    </div>
                    <!--Login password input area -->
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                        <br>
                        <label for="inputLogInpwd">Password </label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <br>
                        <input name="inputlogInpwd" type={{showPassword}} ng-model="userPwd" size="10" required>
						<p class="smallFont">
                        Show Password                   
                        <input type="checkbox" ng-model="changePwd" ng-click="hidePassword()">
                    	</p>
                        <!--input field validation. Checking for if valid and if field been clicked on and left empty-->
                        <span ng-show="logInform.inputlogInpwd.$invalid && !logInform.inputlogInpwd.$pristine">Required!</span>
                        
                        <br>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centerAlign">
                    <!--submit new suspects button "disable" till valid validation-->
                    <button type="submit" name="submit" ng-disabled="logInform.$invalid" class="btn btn-md  submitResetButtons" ng-click="logIn(userName, userPwd)">Submit Password</button>
                    </div>
              
                </form>
	            <!--Creates a big column at the bottom of the weighIn page that is seperate, similar to overall app, into three smaller columns. The middle column contain the action. Its bigger on mobile, 12 size, while size 6 on desktop with two size 3 side columns.  -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <br><br>
                        <h4 class="">Random Inspirational Quote of the Day</h4>
                        <p class="">{{randomQuote}}</p>
                </div>
                <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>                
            </div> 
            </div><!--end of Log-in Page-->